<% include ../partials/header %>
  <div class="container">
    <div class="row">
      <h1 class="text-center">Create a new campground <%= campground.name %></h1>
      <div class="nice-form">
        <form action="/campgrounds/<%= campground._id %>/comments" method="post">
          <div class="form-group">
            <input class="form-control" type="text" name="comment[text]" placeholder="Enter text">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Submit</button>
          </div>
        </form>
        <a href="/campgrounds">View All Campgrounds</a>
      </div>
    </div>
  </div>
<% include ../partials/footer %>
